<link rel="stylesheet" href="/css/contact.css">
<!-- Contenido Contact -->
<main class="main-content">
    <section class="contact-section">
        <h1>Contáctanos</h1>
        <p>Puedes comunicarte con nosotros a través del correo</p>
        <a href="https://github.com/Emiliano-Herrera" class="contact-email">
            emiliano701@gmail.com
        </a>
    </section>
</main>